<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nicolas Zilio">
    <link href="test_css.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title>SourceFu</title>
  </head>
  <body>
    <nav class="navbar navbar-dark static-top bg-dark p-0 flex-md-nowrap">
      <a class="navbar-brand col-sm-3 col-md-2 ml-2" href="#">SourceFu</a>
    </nav>
    <main role="main" class="mt-4 ml-sm-5 mr-sm-5 px-4">
      <div class="row">
        <div class="col-sm-6">
          <h1>Analyses</h1>
        </div>
        <div class="col-sm-6 align-middle">
          <a role="button" class="btn btn-primary float-right align-middle" href="/newAnalysis">New Analysis</a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Filename</th>
              <th>Current Step</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            #foreach( $analysis in $analyses)
              <tr>
              <td class="align-middle">$analysis.id</td>
              <td class="align-middle">$analysis.name</td>
              <td class="align-middle">$analysis.filename</td>
              <td class="align-middle">
                #if ( ! $analysis.currentStep )
                  original
                #else
                  $analysis.currentStep
                #end
              </td>
              <td class="align-middle"><a role="button" class="btn btn-info" href="/editAnalysis/$analysis.id"><i data-feather="settings"></i></a></th>
              <td class="align-middle"><a role="button" class="btn btn-danger" href="/"><i data-feather="trash"></i></a></th>
              <td class="align-middle"><a role="button" class="btn btn-dark" href="/workAnalysis/$analysis.id"><i data-feather="log-in"></i></a></th>
              </tr>
           #end
          </tbody>
        </table>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script>feather.replace()</script>
  </body>
</html>
