<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nicolas Zilio">
    <link rel="stylesheet" href="/js/codemirror.css">
    <link rel="stylesheet" href="/material.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/test_css.css" rel="stylesheet">
    <link href="/js/merge.css" rel="stylesheet">
    <link href="/js/prism.css" rel="stylesheet">
    <title>SourceFu: work view</title>
  </head>
  <body style="font-size:0.8rem">
    <nav class="navbar navbar-dark static-top bg-dark p-0 flex-md-nowrap">
      <a class="navbar-brand col-sm-3 col-md-2 ml-2" href="/">SourceFu</a>
    </nav>
    <main role="main" class="mt-4 ml-sm-5 mr-sm-5">
      <ul class="nav nav-tabs" role="tablist" id="maintabs">
        <li class="nav-item">
          <a class="nav-link active" id="view-tab" data-target="#view" data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="work-tab" data-target="#work" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="false">Work View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="step-tab" data-target="#steps" data-toggle="tab" href="#steps" role="tab" aria-controls="steps" aria-selected="false">Steps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="step-tab" data-target="#diff" data-toggle="tab" href="#diff" role="tab" aria-controls="steps" aria-selected="false">Diff View</a>
        </li>
      </ul>

      <!--overview pane-->

      <div class="tab-content">
        <div id="view" class="tab-pane fade show active" role="tabpanel" aria-labelledby="view-tab">
          <br>
          <h4>File Information</h4>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>filename</th>
                <td>todo</td>
                <th>language</th>
                <td>VBA</td>
              </tr>
              <tr>
                <th>SHA-512</th>
                <td colspan="3">deadbeeffffffffffffffffffffffff</td>
              </tr>
              <tr>
                <th>automated analysis's SHA-512</th>
                <td colspan="3">acdcacddcacdcacdacd</td>
              </tr>
              <tr>
                <th>deobfuscated SHA-512</th>
                <td colspan="3">no deobfuscated step set</td>
              </tr>
            </tbody>
          </table>
          
          <h4>Original</h4>
          <pre class="pre-scrollable line-numbers"><code class="language-javascript">$original</code></pre>
          <h4>Deobfuscated</h4>
          #if ( ! $deobfuscated )
          <pre><code class="language-javascript">no step set as deobfuscated point</code></pre>
          #else
          <pre class="pre-scrollable line-numbers"><code class="language-javascript">$deobfuscated</code></pre>
          #end
          <h4>Current step</h4>
          #if ( ! $current_step_code )
          <pre><code class="language-javascript">no current step</code></pre>
          #else
          <pre class="pre-scrollable line-numbers"><code class="language-javascript">$current_step_code</code></pre>
          #end
        </div>


        <!--work pane -->

        <div id="work" class="tab-pane fade" role="tabpanel" aria-labelledby="work-tab">
          <div class="float-left">
            #if (! $steps)
              <a href="#">load step</a>
            #else
              <select>
                #foreach ($step in $steps)
                <option>$step</option>
                #end
              </select>
              <a href="#">load step</a>
            #end
          </div>
          <div class="float-right">
            <textarea id="new-step-name" class="form-control form-control-sm"></textarea>
            <a href="#" onclick="setNewStep()">new step</a>
          </div>

          #if ( ! $deobfuscated )
          <textarea id="workpane" >$original</textarea>
          #else
          <textarea id="workpane">$deobfuscated</textarea>
          #end
          <br>
          
          <h4>operations</h4>
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Delete Comments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Rename Variables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Dead Code elimination</a>
            </li>
          </ul>

          
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <br>
              <p>Delete comments</p>
              <button type="button" class="btn btn-primary float-right" onclick="deletecomments()">Launch</button>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              Renaming Variables :
              
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
          </div>
          <div id="output123"></div>
        </div>

        <!--steps pane-->        
        <div id="steps" class="tab-pane fade" role="tabpanel" aria-labelledby="step-tab">
          <div id="my-diagram-div"
               style="width:800px; height:400px; background-color: #DAE4E4;"></div>
        </div>

        <!--diff pane-->        
        <div id="diff" class="tab-pane fade" role="tabpanel" aria-labelledby="step-tab">
          <div id="viewmerge"></div>
        </div>

        
      </div>



      <!--this is a pop up for user interaction-->        
      <!-- <div class="modal fade" id="my-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
      <!--   <div class="modal-dialog" role="document"> -->
      <!--     <div class="modal-content"> -->
      <!--       <div class="modal-header" style="background:#e85e6c;"> -->
      <!--         <h5 class="modal-title" id="message-label">Error</h5> -->
      <!--         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
      <!--           <span aria-hidden="true">&times;</span> -->
      <!--         </button> -->
      <!--       </div> -->
      <!--       <div class="modal-body" id="my-message"> -->
      <!--         there was an error creating the analysis. -->
      <!--       </div> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </div> -->



      

      
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gojs/release/go.js" crossorigin="anonymous"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/xml.js"></script>
    <script src="/hehe_fichiers/diff_match_patch.js"></script>
    <script src="/hehe_fichiers/merge.js"></script>
    <script>
      var analysisId = "$analysisId";
      var mainEditor;
      var mergeEditor;
      function initMainCodeEditor(){
      if(mainEditor instanceof CodeMirror){
				mainEditor.refresh();
		  } else {
        // Load main editor
        var el = document.getElementById("workpane");    
        mainEditor = CodeMirror.fromTextArea(el, {
          lineNumbers: true,
          theme: "material"
      });
      mainEditor.setSize("100%",$(window).height()/2);
      }
      }

      $(document).ready(function(){
        
      // Only load editors if tab has been clicked
      $('#maintabs > li > a[data-target="#work"]').on('shown.bs.tab', function(e){
        initMainCodeEditor();
      });

      $('#maintabs > li > a[data-target="#steps"]').on('shown.bs.tab', function(e){
      make_steps_diagram();
      })

       // Only load editors if tab has been clicked
      $('#maintabs > li > a[data-target="#diff"]').on('shown.bs.tab', function(e){
        see();
      })
      
    });
             
var value, orig1, orig2, dv, hilight= true;
      function initUI(panes) {
  if (value == null) return;
  var target = document.getElementById("viewmerge");
  target.innerHTML = "";
  mergeEditor = CodeMirror.MergeView(target, {
    value: value,
    origLeft: panes == 3 ? orig1 : null,
    orig: orig2,
    lineNumbers: true,
    mode: "text/html",
    highlightDifferences: hilight
      });
      console.log(mergeEditor.constructor.name);
}

      function see() {
      if( mergeEditor && mergeEditor !== "null" && mergeEditor !== "undefined" ){
      return;
		  } else {
  value = document.documentElement.innerHTML;
  orig1 = value.replace(/\.\.\//g, "codemirror/").replace("yellow", "orange");
  orig2 = value.replace(/\u003cscript/g, "\u003cscript type=text/javascript ")
    .replace("white", "purple;\n      font: comic sans;\n      text-decoration: underline;\n      height: 15em");
  initUI(2);}
};

function mergeViewHeight(mergeView) {
  function editorHeight(editor) {
    if (!editor) return 0;
    return editor.getScrollInfo().height;
  }
  return Math.max(editorHeight(mergeView.leftOriginal()),
                  editorHeight(mergeView.editor()),
                  editorHeight(mergeView.rightOriginal()));
}

function resize(mergeView) {
  var height = mergeViewHeight(mergeView);
  for(;;) {
    if (mergeView.leftOriginal())
      mergeView.leftOriginal().setSize(null, height);
    mergeView.editor().setSize(null, height);
    if (mergeView.rightOriginal())
      mergeView.rightOriginal().setSize(null, height);

    var newHeight = mergeViewHeight(mergeView);
    if (newHeight >= height) break;
    else height = newHeight;
  }
  mergeView.wrap.style.height = height + "px";
      }


//the following are editor functions


//this function permits to gather the code within the editor of the web page
function gatherCode() {      
    return mainEditor.getValue();
}

//function setting a new step for the analysis
// it gathers the value of the text area next to the "new step" link
// then realizes some fetch to update the internal status of the analysis
// finally, the list of steps for select is updated. 
function setNewStep() {
    var stepName = $.trim($('#new-step-name').val());
    if (stepName == ''){
        $('#my-message').innerHTML = "cannot set a new step with an empty name"
        $("#my-popup").modal();
        return;
    }
    var stepCode = gatherCode();
    var data = new FormData();
    data.append('code', stepCode);
    data.append('name',stepName);
    data.append('analysisId',analysisId);
    fetch('/api/analysis/createNewStep', {
      method: 'POST',
        body:data
    }).then(function(response) {
        return response.json();
    }).then(function(myJson) {
        if(myJson.status == 'OK') {
            $('#my-message').innerHTML = "cannot set a new step with an empty name"
        } else {
            $('#message-label').innerHTML = "OK"
            $('#my-message').innerHTML = "step added"
            document.location.reload(true);
        }
        $("#my-popup").modal();
    })     
}

function loadAvailableSteps() {
    fetch('api/analysis/AnalysisSteps/'+analysisId).then(function(response) {
      return response.json();
    }).then(function(myJson) {
        if(myJson.status == 'OK') {
            out.innerHTML = "<pre style=\"background:grey;\">"+myJson.output+"</pre>";
        } else {
            out.innerHTML = "<pre>an error occured!</pre>";
        }
    })  
}    





//the following are operations functions

function deletecomments() {
    var out = document.querySelector("#output123");
    out.innerHTML = "<pre> Loading... please wait </pre>";
    var currentcode = gatherCode();
    var data = new FormData();
    data.append('input', currentcode);
    fetch('/api/actions/deleteComments', {
        method: 'POST',
        body:data
    }).then(function(response) {
        return response.json();
    }).then(function(myJson) {
        if(myJson.status == 'OK') {
            out.innerHTML = "<pre style=\"background:grey;\">"+myJson.output+"</pre>";
        } else {
            out.innerHTML = "<pre>an error occured!</pre>";
        }
    })     
}

function make_steps_diagram() {      
var $ = go.GraphObject.make;
var myDiagram =
  $(go.Diagram, "my-diagram-div",
    {
      "undoManager.isEnabled": true // enable Ctrl-Z to undo and Ctrl-Y to redo
    });

// the template we defined earlier
myDiagram.nodeTemplate =
  $(go.Node, "Horizontal",
    { background: "#44CCFF" },
    $(go.Picture,
      { margin: 10, width: 50, height: 50, background: "red" },
      new go.Binding("source")),
    $(go.TextBlock, "Default Text",
      { margin: 12, stroke: "white", font: "bold 16px sans-serif" },
      new go.Binding("text", "name"))
  );

var model = $(go.TreeModel);
model.nodeDataArray =
[ // the "key" and "parent" property names are required,
  // but you can add whatever data properties you need for your app
  { key: "1",              name: "Don Meow"    },
  { key: "2", parent: "1", name: "Demeter"     },
  { key: "3", parent: "1", name: "Copricat"    },
  { key: "4", parent: "3", name: "Jellylorum"  },
  { key: "5", parent: "3", name: "Alonzo"       },
  { key: "6", parent: "2", name: "Munkustrap"  }
];
myDiagram.model = model;      
}      

      
</script>
</body>
</html>
